body{
    background-color: 	#cce6ff;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    background-color: #3385ff;
    height: 60px;
    color: white;
    top: 0;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.search{
float: right;  
padding-right: 30px;  

}

.pen{
    height: 20px;
}

.stut{
    height: 40px;
}

.payEmp{
    float: right;
}

