body{
    background-color: 	#cce6ff;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    background-color: #3333ff;
    height: 80px;
    color: white;
    top: 0;
}

.search{
float: right;  
padding-right: 30px;  

}

.pen{
    height: 20px;
}

.stut{
    height: 40px;
}